MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/ecommerce
JWT_SECRET=super_gizli_anahtariniz_buraya
ODEAL_CLIENT_ID=odeal_client_id_buraya
ODEAL_CLIENT_SECRET=odeal_client_secret_buraya
GEMINI_API_KEY=your_gemini_api_key_here
APP_URL=http://localhost:3000
